/* ---------- navbar_design --------*/

a{
    text-decoration: none;
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
}

a:hover{
    background: rgb(177, 142, 142);
    color: rgb(0, 0, 0);
    transition: 0.6s;
    border-radius: 10px;
}



/* -----pofile_area_design */

.profile-card{
    border: 0;
}

.profile-card-footer{
    background-color: white;
    border: 0;
}

.profile-section-text p:nth-child(1){
    color: rgb(247,129,81);
    font-size: 45px;
    font-weight: bold;
    font-family: calibri;
    letter-spacing: 0px;
    line-height: 40px;
}
.profile-section-text p:nth-child(2){
    font-size: 15px;
    font-weight: bold;
    font-family: calibri;
    letter-spacing: 0px;
    line-height: 20px;
}
.profile-special-text{
    color: rgb(54,58,87);
}

/* ------------- CASUAL_SHOE(CS)_area_design ------------ */

.cs-special-text{
    color: rgb(54,58,87);
    font-family: calibri;
    font-size: 45px;
    font-weight: bold;
}

.cs-section-text p:nth-child(1){
    color: rgb(54,58,87);
    font-family: calibri;
    font-size: 30px;
    font-weight: bold;
}
.cs-section-text p:nth-child(2){
    font-family: calibri;
    font-size: 15px;
}

/* ---------- FORMAL_SHOE(fs)_area_design ---------------- */

.fs-special-text{
    color: rgb(54,58,87);
    font-family: calibri;
    font-size: 45px;
    font-weight: bold;
}

.fs-section-text p:nth-child(1){
    color: rgb(54,58,87);
    font-family: calibri;
    font-size: 30px;
    font-weight: bold;
}

.fs-section-text p:nth-child(2){
    font-family: calibri;
}

/* --------- Business_area_design ---------- */

.business-special-text p:nth-child(1){
    color: rgb(54,58,87);
    font-family: calibri;
    font-size: 25px;
    font-weight: bold;
}

.business-special-text p:nth-child(2){
    font-family: calibri;
}

.business-card{
    border-radius: 15px;
}

.business-card-footer{
    background-color: white;
    border: 0;
    border-radius: 30px;
}

.button-design{
	width: 170px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(60,76,209);
    font-family: calibri;
    font-size: 15px;
    font-weight: bold;
    font-family: calibri;
    color: white;
    line-height: 20px;
}

.price-tag{
    font-family: calibri;
    font-size: 30px;
    font-weight: bold;
    color: rgb(248,189,87);
}

/* ------------------------------- footer ------------------------------- */

.footer-text p:nth-child(1){
    font-size: 30px;
    font-family: calibri;
    font-weight: bold;
}
.footer-text p:nth-child(2){
    font-size: 20px;
    font-family: calibri;
}
.footer-text p:nth-child(3){
    font-size: 30px;
    font-family: calibri;
}


.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(46, 40, 29);
	border-radius:50%;
	margin:20px 10px;
}


.social-icons i:nth-child(1){
	color: white;
	background-color: rgb(46, 40, 29);
}

.social-icons a:hover{
	background-color:rgb(46, 40, 29);
	transition: all ease 0.6s;
}

.attached-social-bar a:hover{
	background-color:rgb(46, 40, 29);
	transition: all ease 0.6s;
}

#facebook:hover{
	color: rgb(28, 132, 201);
}
#twitter:hover{
	color: rgb(74,170,237);
}
#instagram:hover{
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	border-radius: 20px;
}
#youtube:hover{
	color: rgb(255,23,3);
}

.copyright{
    font-size: 12px;
    font-family: calibri;
    font-weight: bold;
}

input{
    margin-bottom: 15px;
    width: 280px;
    border-radius: 5px;
}

textarea{
    width: 280px;
    height: 200px;
    border-radius: 5px;
}